# ssl
{
    on_demand_tls {
        ask "http://localhost:2087/allow"
    }
}

# redirects
* {
    redir /openpanel https://openpanel.yourdomain.com
    redir /webmail https://webmail.yourdomain.com
}


# import all sites
import /etc/openpanel/openpanel/core/users/*/domains
