# ssl
{
    on_demand_tls {
        ask "http://localhost:2087/allow"
    }
}

# START HOSTNAME DOMAIN #
example.net {
    reverse_proxy localhost:2087
}

http://example.net {
    reverse_proxy localhost:2087
}
# END HOSTNAME DOMAIN #

# import all sites
import /etc/openpanel/caddy/domains/*
